{% extends "base.html" %}

{% block content %}
<style>
  /* Style for cards and images */
  .card {
    height: 400px; /* Set a fixed height for the cards */
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    display: flex; /* Set a fixed height for the cards */
  }
  .card:not(:first-child) {
    margin-left: 50px;
  }
  .card-img-top {
    height: 200px; /* Set a fixed height for the images */
    object-fit: cover; /* Display images with same size */
  }
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

  /* Rest of your styles */
  /* ... */

  .card{background-color: #D7C9BC;}
</style>

<div class="row">
  {% for item in items.items %}
    <div class="col-sm-3 mb-3" style="padding-top: 25px;">
      <div class="card h-100">
        {% for image in item.images %}
          <div class="carousel-item{% if loop.first %} active{% endif %}">
            <img src="{{ url_for('static', filename=image.image_path.replace('\\', '/')) }}" alt="{{ item.name }}" class="d-block w-100 card-img-top">
          </div>
        {% endfor %}
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-text">ფასი: {{ item.price }}₾</p>
          <a href="{{ url_for('views.item_detail', item_type=item_type, item_id=item.id) }}" class="btn btn-primary">დაწვრილებით</a>
          {% if current_user.is_authenticated and current_user.id == 1 %}
            <form action="{{ url_for('views.delete_item', item_type=item_type, item_id=item.id) }}" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if pagination.has_prev %}
    <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, page=pagination.prev_num) }}">Previous</a></li>
    {% endif %}
    {% for page_num in pagination.iter_pages() %}
      {% if page_num %}
        {% if page_num == pagination.page %}
          <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, page=page_num) }}">{{ page_num }}</a></li>
        {% endif %}
      {% else %}
        <li class="page-item disabled"><span class="page-link">&hellip;</span></li>
      {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
    <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, page=pagination.next_num) }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
